@media screen and (max-width: 900px) {
  .home-content {
    flex-direction: column;
    gap: 30px;
    height: auto;
    text-align: center;
    margin-top: 130px;
  }
  .home-main {
    flex-direction: column-reverse;
    gap: 3rem;
    height: auto;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: relative;
  }
  .home-container {
    padding: 0;
  }
  .home-skills{
    flex-direction: column;
    position: static;
  }
  .about-content {
    grid-template-columns: 1fr;
    gap: 50px ;
    text-align: center;
  }
  .about-container{
    max-width: 500px;
  }
}





@media screen and (max-width: 730px) {
  nav ul {
    display: none;
  }
  .about-container{
    max-width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .home-container {
    padding: 0;
  }
  .about-container{
    max-width: 200px;
  }
}
