/* Nav Bar  */
html,
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
/* Nav background */

header {
  width: 100vw;
  height: 85px;
  background: #fff;
  box-shadow: 0px 4px 9.1px 0px rgba(0, 0, 0, 0.25);
  align-content: center;
  box-sizing: border-box;
}
.header {
  position: sticky;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.logo img {
  height: 70px;
  justify-content: center;
  align-content: center;
  padding-top: 8px;
  padding-right: 450px;
}
.nav-items ul {
  display: flex;
  gap: 20px;
  padding-right: 25px;
}
.nav-items ul a {
  margin: 8px;
  gap: 40px;
  list-style: none;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  color: #2d2e32;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: space-between;
  transition: color 0.3s ease-in-out;
}
.nav-items a:hover {
  color: #147efb;
}

/* Section-1 */
.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 120px 120px;
  /* padding: 40px; */
}
.first {
  /* background-color: #F5F5F5; */
  /* display: flex; */
  display: grid;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  margin: 70px;
  gap: 8px;
  font-family: sans-serif;
}
.first span {
  grid-column: 2/5;
  grid-row: 1;
  /* display: block; */
  color: #2d2e32;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first p {
  grid-column: 2/5;
  grid-row: 2;
  padding-top: 40px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 425px;
}

.outer-circle {
  grid-column: 4;
  grid-row: 1;
  display: grid;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  /* margin: 50px; */
  margin-left: 50px;
}

.inner-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(50%);
}

/* Social media icons */
.social-icons {
  margin: 0;
  grid-column: 2/5;
  grid-row: 3;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
  grid-row: 3;
  padding-top: 40px;
}
.grid-icons {
  display: grid;
  grid-template-columns: 45px 45px 45px;
}
.github-icon {
  width: 46px;
  height: 46px;
  transition: fill 0.3s ease-in-out;
}

.linkdin-icon {
  margin: 0;
  width: 34px;
  height: 34px;
  transition: fill 0.3s ease-in-out;
}

.behance-icon {
  width: 46px;
  height: 46px;
  transition: fill 0.3s ease-in-out;
}

.social-icons a:hover {
  fill: #147efb;
  padding-bottom: 6px;
}
/* Technologies */
.tech-grid {
  grid-column: 2/5;
  grid-row: 5;
  display: flex;
  align-items: center;
  position: relative;
}
.text {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tech-images {
  padding-top: 10px;
}

/* Section-2 : About me */

.about-me {
  background-color: #f5f5f5;
  padding: 185px 0;
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.about-text h3 {
  margin: 0;
  color: #147efb;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about-text h4 {
  margin: 0;
  width: 484px;
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 148%; /* 38.48px */
}
.about-text p {
  margin: 0;
  padding: 5px;
  width: 480px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  word-wrap: break-word;
}

.about-photo {
  grid-column: 2;
  border-radius: 22px;
  overflow: hidden;
  /* margin-right: 50px; */
  margin: 50px;
  width: 318.711px;
  height: 360px;
}

.about-photo img {
  width: 318.711px;
  height: 360px;
  object-fit: cover;
  overflow: clip;
}

.projects-group {
  width: 100vw;
  height: 1600px;
  margin: 0 auto;
  max-width: 107rem;
  padding: 54px 0;
}
.projects-group .projects-container {
  margin: 0 210px;
    max-width: 107rem;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}

.projects-group .projects-container .project-content {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-group .projects-container .project-content .project-heads p {
  display: block;
  color: #147efb;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}
.projects-group .projects-container .project-content .project-heads h3 {
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 148%; /* 38.48px */
  width: 484px;
  margin: 0;
}

.projects-lists {
  display: grid;
  grid-template-columns: 70vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.project-1 {
  width: 70vw;
  height: 384px;
  border-radius: 20px;
  background: #147efb;
  box-shadow: 10px 8px 8.3px -3px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
}
.project-2 {
  width: 70vw;
  height: 384px;
  border-radius: 20px;
  background: #147efb;
  box-shadow: 10px 8px 8.3px -3px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
}
.project-3 {
  width: 70vw;
  height: 384px;
  border-radius: 20px;
  background: #147efb;
  box-shadow: 10px 8px 8.3px -3px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
}
